<div class="header">
  <h1>Contacts</h1>
  <mat-form-field>
    <mat-select (selectionChange)="getContacts($event.value)">
      <mat-option [value]="undefined">All</mat-option>
      @for (company of companies$ | async; track company.id) {
        <mat-option [value]="company.id">{{company.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="contact-list-container">
    @for (contact of contacts$ | async; track contact.id) {
        <mat-card class="contact-card">
            <div class="contact-card-content">
                <span class="contact-name">{{ contact.name }}</span>
                <span class="spacer"></span>
                <button mat-raised-button color="primary" [routerLink]="['/contact', contact.id]">Edit</button>
            </div>
        </mat-card>
    }
</div>

<button mat-fab [routerLink]="['/contact/new']">
    <mat-icon>add</mat-icon>
</button>
