<div class="edit-container">
    @if (company$ | async; as company) {
    <pre class="debug-output">
      {{ company | json }}
    </pre>
    <mat-card>
        <mat-card-title>Edit Company</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input type="text" matInput [(ngModel)]="editableCompany!.name" name="companyName"
                    placeholder="Enter company name" aria-label="Company name" />
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions MatCardActions.align="start">
            <button mat-raised-button color="primary" (click)="saveCompany(editableCompany!)">Save</button>
            @if (companyId) {
            <button mat-button color="warn" (click)="deleteCompany()">Delete</button>
            }
        </mat-card-actions>
    </mat-card>
    } @else {
    <mat-card>
        <mat-card-content>
            <p>Loading company...</p>
        </mat-card-content>
    </mat-card>
    }
</div>